@media (max-width: 790px){
    .mercado-texto {
        flex-direction: column-reverse;
    }

    .home-mural h3  {
        font-size: 1.8em;
    }

    .home-mural h1 {
        font-size: 3.5em;
    }
}