:root {
    --verde-claro: #00FF7F;
    --verde-escuro: #3CB371;
    --fonte-geral: #05191d;
    --verde-background: #b9e6a4;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 10px;
    top: 0;
    background-color: var(--verde-background);
    min-height: 75px;
}

.header .icon {
    display: flex;
    gap: 10px;
}

.header .icon i {
    font-size: 2em;
}

.header .icon h2 {
    font-size: 2em;
    color: var(--fonte-geral);
    font-weight: 700;
}

/* HOME */
.home {
    margin-top: 73.8px;
    width: 100%;
    position: relative;
}

.home-mural {
    background-image: url(./imgs/background-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 220px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

.home-mural h3 {
    position: absolute;
    right: 10%;
    top: 50%;
    font-size: 2.5em;
    color: #89d162
}

.home-mural h1 {
    position: absolute;
    right: 10%;
    top: 20%;
    font-weight: 700;
    font-size: 5em;
    color: var(--fonte-geral);
}

/* MERCADO, ENTRADAS, REFEIÇÕES E BEBIDAS */

.mercado,
.entradas,
.refeicoes,
.bebidas
 {
    color: var(--fonte-geral);
    margin-top: 0;
    width: 100%;
}

.mercado .mercado-titulo,
.entradas .entradas-titulo,
.refeicoes .refeicoes-titulo,
.bebidas .bebidas-titulo {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    gap: 10px;
}

.mercado h2,
.mercado i,
.entradas h2,
.entradas i,
.refeicoes h2,
.refeicoes i,
.bebidas h2,
.bebidas i {
    font-size: 3em;
}

/* MERCADO - ESPECÍFICO */

.mercado-texto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.mercado .mercado-texto h3 {
    font-weight: 700;
    font-size: 2em;
    width: 50%;
    margin: 30px 80px;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #000;
    background-color: var(--verde-background);
    text-align: center;
}

.mercado .mercado-texto img {
    width: 250px;
    height: 250px;
    margin: 30px 80px;
    border-radius: 50%;
}

.mercado .mercado-imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mercado .mercado-imgs img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

/* ENTRADAS | REFEIÇÕES  | BEBIDAS - ESPECÍFICOS */

.entradas .paineis-entradas .painel-entrada img,
.refeicoes .paineis-refeicoes .painel-refeicoes img,
.bebidas .paineis-bebidas .painel-bebidas img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.entradas .paineis-entradas,
.refeicoes .paineis-refeicoes,
.bebidas .paineis-bebidas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.entradas .entradas-texto h3,
.refeicoes .refeicoes-texto h3, 
.bebidas .bebidas-texto h3{
    font-weight: 700;
    font-size: 2em;
    width: 50%;
    margin: 30px auto;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #000;
    background-color: var(--verde-background);
    text-align: center;
}